<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sale.title %>
</p>

<p>
  <b>Value:</b>
  <%= @sale.value %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
